.article_component {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex-direction: column;
}

.article_header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100px;
}

.article_header_left, .article_header_center, .article_header_right {
	margin: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 33%;
	height: 100%;
}

.article_header_left {
	align-items: flex-start;
}

.article_header_center {
	align-items: center;
}

.article_header_right {
	align-items: flex-end;
}

.article_header_right > span, .article_header_center > span {
	font-size: 16pt;
}

.author {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.author_image {
	width: 48px;
	height: 48px;
	overflow: hidden;
	background-repeat: no-repeat;
}

.author > span {
	font-size: 16pt;
}

.article_content {
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

.article_content {
	font-size: 14pt;
}

.article_footer {
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

.article_footer > button {
	width: 200px;
	height: 50px;
	font-size: 16pt;
}