body
{
	font-family: "Helvetica";
}

.article_component 
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex-direction: column;
}

.articles 
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.articles > a 
{
	margin: 5px;
}

.article_header 
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100px;
}

.article_header_left, .article_header_center, .article_header_right 
{
	margin: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 50%;
	height: 100%;
}

.article_header_left 
{
	align-items: flex-start;
}

.article_header_center 
{
	align-items: center;
}

.article_header_right 
{
	align-items: flex-end;
}

.article_header_right > span, .article_header_center > span 
{
	font-size: 14pt;
	font-weight: 600;
}

.article_content 
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

.article_content 
{
	font-size: 14pt;
}

.article_footer 
{
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.article_footer > button 
{
	width: 150px;
	height: 50px;
	font-size: 12pt;
	font-family: Helvetica;
	font-weight: 600;
}


