body
{
    background-color: white;
    padding: 20px;
}

.text
{
  margin-left: 300px;
  font-family: "Helvetica";
}

.menu
{
  display: flex;
  flex-direction: column;
  width: 150px;
}

.all_link
{
  font-family: "Helvetica";
  font-size: 18px;
  text-decoration: none;
}

h1, ul, h4, h2
{
  font-family: "Helvetica";
}

h1
{
  color: red;
}

h4
{
  font-size: 25pt;
  text-align: center;
}

h5
{
  font-family: "Helvetica";
  margin-left: 790px;
}

h6
{
  margin-left: 790px;
}

h7
{
  margin-left: 790px;
}

p
{
  text-align: center;
  font-family: "Helvetica";
  font-weight: normal;
  font-size: 12pt;
}

.content_block
{
  display: flex;
  display: inline-block;
}

.h8
{
  color: black;
  font-size: 20pt;
}

p2
{
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 17pt;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

p3
{
  font-family: "Helvetica";
  font-size: 12pt;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

p4
{
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 17pt;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

p5
{
  font-family: "Helvetica";
  font-size: 12pt;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

p6
{
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 17pt;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

p7
{
  font-family: "Helvetica";
  font-size: 12pt;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

ul.header
{
    background-color: black;
    padding: 0px;
}

ul.header li2
{
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header li2 a
{
  color: white;
  font-weight: 700;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

span:hover
{
  cursor: pointer;
  color: red;
}

a
{
  text-decoration: none;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 18px;
  color: black;
}

a:visited
{
 color: black;
}
